<h3>new movies</h3>

<form action="/movies" method="POST">
  <div>
    <label for="title">title</label>
    <input type="text" name="title" value="{{movie.title}}" />
  </div>

  <div>
    <label for="title">genre</label>
    <input type="text" name="genre" value="{{movie.genre}}" />
  </div>

  <div>
    <label for="title">plot</label>
    <input type="text" name="plot" value="{{movie.plot}}" />
  </div>

  <div>
    <label for="title">cast</label>
    <select multiple name="cast">
      {{#each celebrities as |celebrity|}}
        <option value="{{celebrity.id}}">
          {{celebrity.name}}
        </option>
      {{/each}}
    </select>
  </div>

  <button type="submit">Create</button>
</form>